# GitHub repo
GITHUB_USERNAME="GITHUB_EXCEL_USERNAME"
GITHUB_REPOSITORY="GITHUB_EXCEL_REPO"
GITHUB_PROJECT_ID="ghp_xxx"
PROJECT_BRANCH="master"

# Folder 
FOLDER="ExcelBinOutput"
LANG_FOLDER="TextMap"

# Avatars Data
AVATAR="AvatarExcelConfigData.json"

# Costume Data
COSTUME="AvatarCostumeExcelConfigData.json"

# Avatar Skills Data
SKILLDEPOT="AvatarSkillDepotExcelConfigData.json" # Skill Depot
SKILLS="AvatarSkillExcelConfigData.json" # Skills
TALENTS="AvatarTalentExcelConfigData.json" # AKA. Constellations

# Equipment Data
ARTIFACTS="ReliquaryExcelConfigData.json"
WEAPONS="WeaponExcelConfigData.json"
ARTIFACTS_SETS="EquipAffixExcelConfigData.json"

# Fight Props
FIGHT_PROPS="ManualTextMapConfigData.json"

# Props Map
PROPS_MAP="ProudSkillExcelConfigData.json"

# Namecards
NAMECARDS="MaterialExcelConfigData.json"

# Artifact main & sub
ARTIFACT_PROPS_MAIN="ReliquaryMainPropExcelConfigData.json"
ARTIFACT_PROPS_SUB="ReliquaryAffixExcelConfigData.json"